{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change your password{% endtrans %}{% endblock %}

{% block body %}
    <h3 class="text-center mt-3">{% trans %}Change your password here{% endtrans %} !</h3>
    <div class="col-6 mx-auto">
        {{ form(formChangePass) }}
    </div>
{% endblock %}