{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <div class="form col d-flex justify-content-center pb-2">
        {{ form(formRegister) }}
    </div>
{% endblock %}
