/*
body {
    background-color: #C1BBB3;
}

 */


.card{
    border: 2px solid black;
    border-radius: 5%;
    color: black;
}

/*
    .card-text .btn {
    background-color: #4467f1;
    color : white;
}


 */