li.nav-item {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*
.nav-link {
    font-size: smaller;
}

@media (max-width: 1100px) {
    li.nav-item {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 900px) {
    .nav-link{
        font-size: small;
    }
}
*/
.active {
    padding-right: 1%;
    padding-left: 1%;
    border: 1px solid #9A9A9A;
    border-top: none;
    border-bottom: none;
    border-radius: 5%;
    background-color: #424242;
}

.link_footer img {
    width: 30px;
}
