
body {
    background-color: #112a72;
    color: white;
}



li.nav-item {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*
.nav-link {
    font-size: smaller;
}

@media (max-width: 1100px) {
    li.nav-item {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 900px) {
    .nav-link{
        font-size: small;
    }
}
*/
.active {
    padding-right: 2%;
    padding-left: 2%;
    font-weight: bold;
    border: 1px solid #00faff;
    border-top: none;
    border-bottom: none;
    border-radius: 5%;
}

.link_footer img {
    width: 30px;
}

.navbar, footer{
    background: rgb(21,46,177);
    background: linear-gradient(90deg, rgba(21,46,177,1) 0%, rgba(17,39,114,1) 24%, rgba(20,35,87,1) 50%, rgba(17,42,114,1) 75%, rgba(21,46,177,1) 100%);
}

.nav-item a {
    color:white;
}


.btn-global {
    background-color: #3b52c8;
    color: white;
}

.dropdown-item{
    background-color: #112772;
}

.dropdown-menu{
    border: 0;
}

.navbar{
    border-bottom: 1px solid #3289D4;
}

.footer-bar{
    border-top: 1px solid #3289D4;

}