<h1>{% trans %}Hello {% endtrans %} {{ user.firstName }} {{ user.lastName }}</h1>

<p>
    {% trans %}You have successfully reset your password{% endtrans %}
</p>
<p>{% trans %}Have a nice day{% endtrans %} !</p>