<h1>{% trans %}Welcome {% endtrans %}{{ user.firstName }} {{ user.lastName }}!</h1>

<p>
    {% trans %}You signed up as{% endtrans %} {{ user.username }} {% trans %}the following email{% endtrans %} :
</p>
<p><code>{{ user.email }}</code></p>
<p>{% trans %}Thanks for joining us{% endtrans %} !</p>