{% extends "base.html.twig" %}
{% block title %}Add{% endblock %}
{% block body %}
    <div class="ml-5 mb-3 col-5">
        <h1>{% trans %}Add product{% endtrans %}</h1>
        {{ form(formProduct) }}
    </div>
{% endblock %}