{% extends 'base.html.twig' %}

{% block title %}Boutique !{% endblock %}

{% block body %}
   {% if quantity >0 %}
      {% for product in ProductAll %}

      <div class="card display-inline mb-1" style="width: 18rem; height: 20rem; display: inline-block; margin-bottom: 1rem;">
         <img class="card-img-top" alt="Card image cap" src='{{ product.Image }}' >
         <p class="card-text" style="text-align: center"> {{ product.productName }} -  {{ product.price }}€</p>
      </div>

      {% endfor %}
   {% endif %}


{% endblock %}