{% extends 'base.html.twig' %}

{% block title %}Boutique !{% endblock %}

{% block body %}
   <div class="card" style="width: 18rem; height: 20rem; display: inline-block; margin-bottom: 1rem;">
      <img class="card-img-top" alt="Card image cap" src={{asset(  'media/tote_bag_karmine.jpg')}} >
      <p class="card-text" style="text-align: center"> Tote Bag Karmine -  10€</p>
   </div>

   <div class="card" style="width: 18rem; height: 20rem; display: inline-block; margin-bottom: 1rem;">
      <img class="card-img-top" alt="Card image cap" src={{asset(  'media/gourde_karmine.jpg')}} >
      <p class="card-text" style="text-align: center"> Tote Bag Karmine -  20€</p>
   </div>


  

{% endblock %}