{% extends "base.html.twig" %}
{% block body %}
    <div class="d-flex justify-content-center">
        <div class="pl-0 pr-0 col-9">
            <div class="text-center text-white "><h2 class="mb-2">{% trans %} Who we are ? {% endtrans %}</h2>
                <p>
                    {% trans %}KametoTV is a streaming channel offering entertaining content mainly hosted by streamer Kameto
                    and his friends Kotei and Befresh. {% endtrans %}<br>
                    {% trans %}You will find on our site all our contents.{% endtrans %}
                </p>
            </div>
            <img class="img-fluid shadow-lg mb-3" src="https://infograpik.fr/wp-content/uploads/2019/06/1500x500.jpg" alt="home">
        </div>
    </div>
{% endblock %}