{% extends "base.html.twig" %}
{% block body %}
    <div class = "mb-2">
        <img src="https://infograpik.fr/wp-content/uploads/2019/06/1500x500.jpg"
             style="width: 1280px; height: 200px">
    </div>
    <div>
        <h2 class = "text-center mb-2"> Who we are ?</h2>
        <p class = "text-center">
            KametoTV is a streaming channel offering entertaining content mainly hosted by streamer Kameto
            and his friends Kotei and Befresh.
        </p>
        <p class="text-center">You will find on our site all our contents.</p>
    </div>
{% endblock %}