{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-2 border border-dark rounded">
    <div class="row pt-2 pb-2">
        <div class="col d-flex justify-content-center border-right">
            <p class="font-weight-bold">Login</p>
        </div>
        <div class="col d-flex justify-content-center">
            <p class="font-weight-bold">Sign up</p>
        </div>
    </div>
    </div>
{% endblock %}