{% extends "base.html.twig" %}
{% block title %}Error 500{% endblock %}
{% block body %}
    <div class="ml-4">
        <h1>Server down</h1>
        <p>
            An error has occured and we're currently working to fix the problem !</br>
            We'll be up and running shortly.
        </p>
    </div>
{% endblock %}